/.idea/
/config.yml
/config.json
/tofiks
/debug_tofiks
/cmd/playground/*
/weights/weights.yml
/*.svg
**.pprof
**.bench
/build
/release
/*.bin
/test_suite/testdata/fuzz/FuzzEntry/*
/texel
/*.pgn
/*.txt
